[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "summarytabl"]
	path = summarytabl
	url = https://github.com/anyamemensah/summarytabl
